:host {
  --ip-sl-primary-color: #4f4da2;
  --ip-sl-secondary-color: #2e3243;
}

.slider {
  position: relative;
  margin: 0 auto;
  block-size: 100%;

  .slider-items {
    display: flex;
    overflow-x: hidden;
    margin: 0 auto;
    block-size: 100%;

    .slider__ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: relative;
      left: 0px;
      transition: all 0.5s ease-in-out 0s;
    }
  }

  .slider-bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .slider-bullets__ul {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 0;
      margin: 20px 0;

      list-style-type: none;
      .slider-bullets__li {
        button {
          background-color: transparent;
          border: 1px solid var(--ip-sl-primary-color);
          width: 20px;
          height: 20px;
          border-radius: 50%;
          cursor: pointer;
          transition: background-color 0.3s ease-in;
        }

        .btn-active {
          background-color: var(--ip-sl-primary-color);
        }
      }
    }
  }

  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background: none;
    border: solid var(--ip-sl-primary-color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    cursor: pointer;

    &:disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &.btn-previous {
      transform: rotate(135deg);
      left: -40px;
    }

    &.btn-next {
      transform: rotate(-45deg);
      right: -40px;
    }
  }
}
