:host {
  --ip-sl-primary-color: #ffffff;
  --ip-sl-secondary-color: #2e3243;
  --ip-sl-font: 'Avenir', sans-serif;
}

.slider {
  position: relative;
  height: 100%;

  .slider-items {
    overflow: hidden;
    height: 100%;
    position: relative;
    .slider__ul {
      height: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;

      display: flex;
      width: 100%;


      .slider__li {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          transform: translateX(100%);
          opacity: 0;

          &.active {
            transition: all 0.5s ease-out;
            transform: translateX(0%);
            opacity: 1;
          }

          .slider__bg {
            display: block;
            background-size: cover;
            width: 100%;
            height: 100%;
          }

          .slider__desc {
            position: absolute;
            top: 20px;
            left: 20px;
            margin: 0px;
            color: var(--ip-sl-primary-color);
            font-family: var(--ip-acc-font);
            font-size: 20px;
          }

          .slider-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            background-color: rgba(#000000, 0.3);

          }
      }

    }

    .slider-frame {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

  }

  .slider-bullets {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;

    .slider-bullets__ul {
      display: flex;
      justify-content: center;
      gap: 10px;
      padding: 0;
      margin: 0;

      list-style-type: none;
      .slider-bullets__li {
        button {
          background-color: transparent;
          border: 1px solid var(--ip-sl-primary-color);
          width: 15px;
          height: 15px;
          padding: 0;
          border-radius: 50%;
          cursor: pointer;
          transition: background-color 0.3s ease-in;
        }

        .btn-active {
          background-color: var(--ip-sl-primary-color);
          pointer-events: none;
        }

        .btn-transition {
          background-color: red;
        }
      }
    }
  }

  .slider-play-pause-container {
    .slider-play-pause {
      z-index: 2;
      position: absolute;
      left: 10px;
      bottom: 10px;
      cursor: pointer;
      background: transparent;
      border: 1px solid white;

      width: 25px;
      height: 25px;
      border-radius: 50%;

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: block;
        width: 12px;
        height: 12px;
        transition: opacity 0.3s ease-in-out;
      }

      &.play-active {
          .play {
            opacity: 1;
          }

          .pause {
            opacity: 0;
          }
      }

      .play {
        opacity: 0;
      }

    }
  }

}
